input {
    position: absolute;
    width: 485.32px;
    height: 24px;
    left: 477px;
    top: 28px;

    background: #242424;
    border-radius: 15px;
    text-align: center;
    border-style: none;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
}
input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(93, 93, 93, 0.7);
    transition: 0.3s;
}

