#fon {
    background-image: url('../FON/fon1.jpg ');
    background-size: cover; /* Растягивать изображение, чтобы оно покрыло всю страницу */
    background-repeat: no-repeat; /* Не повторять изображение */
    background-attachment: fixed;
    width: 1440px;
    height: 900px;
    overflow-y: hidden;
}
#login_bar {
    position: fixed;
    width: 157px;
    height: 34px;
    left: 1149px;
    top: 57px;
    background: #121212;
    border-radius: 16px;
}
#email {
    color: rgba(147, 147, 147, 1);
    font-weight: 700;
    position: absolute;
    top: 7px;
    left: 9.5px;
}
#login_photo {
    position: fixed;
    width: 34px;
    height: 34px;
    left: 1318px;
    top: 57px;
    background: #D9D9D9;
    border-radius: 100%;
}
#info {
    position: absolute;
    width: 896px;
    height: 310px;
    left: calc(50% - 896px/2);
    top: 195px;
    background: #121212;
    backdrop-filter: blur(10px);
    border-radius: 32px;
}
#txt {
    position: absolute;
    width: 149px;
    height: 18px;
    left: 49px;
    top: 31px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}