#susa {
    width: 1440px;
    height: 900px;
    background-size: cover;
    background-image: url('../FON/fon1.jpg') ;
    background-color: rgba( 0,0,0, 0.5);
    background-attachment: fixed;
}
#rectangle_36 {
    display: inline-block;
    position: absolute;
    width: 455px;
    height: 380px;
    left: 492px;
    top: 128px;
    display: inline-block;
    background-color: #121212;
    border-radius: 44px;
}
#entertxt {
    position: absolute;
    width: 86px;
    height: 38px;
    left: 192px;
    top: 0px;
}
.txth2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}
#loginInp {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 51px;
}
#passInp {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 51px;
}
.subm {
    position: absolute;
    width: 106px;
    height: 38px;
    left: 180px;
    top: 240px;
    background: #805ED2;
    border-radius: 44px;
    border-style: none;
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.regTo {
    position: absolute;
    width: 116px;
    height: 24px;
    left: 135px;
    top: 288px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #3F3F3F;
    text-decoration: none;
}