#rectangle36 {
    position: absolute;
    width: 455px;
    height: 506px;
    left: 492px;
    top: 128px;

    background: #121212;
    border-radius: 44px;
}
.susa {
    width: 1440px;
    height: 900px;
    background-size: cover;
    background-image: url('../FON/fon1.jpg') ;
    background-color: rgba( 0,0,0, 0.5);
    background-attachment: fixed;
}
#regtxt {
    font-size: 25px;
    color: white;
}
#logintxt {
    position: absolute;
    font-size: 20px;
    color: white;
    top: 58px;
    left: 77px;
}
#login {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 43px;
    left: 77px;
    top: 106px;
    background: #000000;
    border-radius: 44px;
}
#passtxt {
    position: absolute;
    font-size: 20px;
    top: 156px;
    left: 77px;
    color: white;
}
#pass {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 43px;
    left: 77px;
    top: 206px;
    background: #000000;
    border-radius: 44px;
}
#rpasstxt {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 256px;
    left: 77px;
}
#rpass {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 43px;
    left: 77px;
    top: 306px;
    background: #000000;
    border-radius: 44px;
}
#reg {
    position: absolute;
    width: 230px;
    height: 38px;
    left: 115px;
    top: 390px;
    background: #805ED2;
    border-radius: 44px;
    font-size: large;
    color: white;
    font-weight: 700;
    border-style: none;
    font-size: 18px;
}