#rectangle36 {
    position: absolute;
    width: 455px;
    height: 506px;
    left: 492px;
    top: 128px;

    background: #121212;
    border-radius: 44px;
}
.susa {
    width: 1440px;
    height: 900px;
    background-size: cover;
    background-image: url('../FON/fon1.jpg') ;
    background-color: rgba( 0,0,0, 0.5);
    background-attachment: fixed;
}
#regtxt {
    font-size: 25px;
    color: white;
}
#logintxt {
    position: absolute;
    font-size: 20px;
    color: white;
    top: 58px;
    left: 77px;
}
#login {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 43px;
    left: 77px;
    top: 106px;
    background: #000000;
    border-radius: 44px;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(128, 94, 210, 1);
    border-top-width: 0.5px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
#passtxt {
    position: absolute;
    font-size: 20px;
    top: 156px;
    left: 77px;
    color: white;
}
#pass {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 43px;
    left: 77px;
    top: 206px;
    background: #000000;
    border-radius: 44px;
    border-style: solid;
    border-color: rgba(128, 94, 210, 1);
    border-top-width: 0.5px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
#rpasstxt {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 256px;
    left: 77px;
}
#rpass {
    box-sizing: border-box;
    position: absolute;
    width: 306px;
    height: 43px;
    left: 77px;
    top: 306px;
    background: #000000;
    border-radius: 44px;
    border-style: solid;
    border-color: rgba(128, 94, 210, 1);
    border-top-width: 0.5px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
#reg {
    position: absolute;
    width: 230px;
    height: 38px;
    left: 115px;
    top: 390px;
    background: #805ED2;
    border-radius: 44px;
    font-size: large;
    color: white;
    font-weight: 700;
    border-style: none;
    font-size: 18px;
}
 #error_message_email{
    position: absolute;
    width: 100%; /* или конкретная ширина, если нужно */
    top: 148px; /* Расположение над кнопкой, подгоните по необходимости */
    color: rgba(210, 94, 94, 1); /* Пример цвета текста */
    font-size: 16px; /* Пример размера шрифта */ 
    transform: 0.5s;
}
#error_message {
    position: absolute;
    width: 100%; /* или конкретная ширина, если нужно */
    top: 248px; /* Расположение над кнопкой, подгоните по необходимости */
    color: rgba(210, 94, 94, 1); /* Пример цвета текста */
    font-size: 16px; /* Пример размера шрифта */ 
    transform: 0.5s;
}
#error_message_confirm {
    position: absolute;
    width: 100%; /* или конкретная ширина, если нужно */
    top: 348px; /* Расположение над кнопкой, подгоните по необходимости */
    color: rgba(210, 94, 94, 1); /* Пример цвета текста */
    font-size: 16px; /* Пример размера шрифта */ 
    transform: 0.5s;
}